.detail-common {
  transform-origin: bottom left;
  transition: opacity .3s, transform .3s;
}

.detail {
  opacity: 1;
  transform: scale(1);
  .detail-common;
}

.detail-enter-done {
  opacity: 1;
  transform: scale(1);
  .detail-common;
}

.detail-enter {
  opacity: 0;
  transform: scale(0.1);
  .detail-common;
}

.detail-enter-active {
  opacity: 1;
  transform: scale(1);
  .detail-common;
}

.detail-exit {
  opacity: 1;
  transform: scale(1);
  .detail-common;
}

.detail-exit-active {
  opacity: 0;
  transform: scale(0.1);
  .detail-common;
}
