@import "common.variate.less";
@import url("http://at.alicdn.com/t/font_1546671_013k9mcuq1ykm.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  font-size: 12px;
  background-color: #fafafa;
  font-family: "Microsoft Yahe", Arial, Helvetica, sans-serif, "Helvetica Neue", serif;
  overflow-y: hidden;
  user-select: none;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: #333;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}


::-webkit-scrollbar-track-piece {
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #e1e1e1;
  background-clip: padding-box;
  min-height: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c1c1c1;
}

.padding-and-margin-loop(@count )when(@count > 0) {
  .padding-top-@{count} {
    padding-top: @count
  }

  .padding-left-@{count} {
    padding-left: @count
  }

  .padding-bottom-@{count} {
    padding-bottom: @count
  }

  .padding-right-@{count} {
    padding-right: @count
  }

  .padding-@{count} {
    padding: @count
  }

  .margin-top-@{count} {
    margin-top: @count
  }

  .margin-left-@{count} {
    margin-left: @count
  }

  .margin-bottom-@{count} {
    margin-bottom: @count
  }

  .margin-right-@{count} {
    margin-right: @count
  }

  .margin-@{count} {
    margin: @count
  }

  .padding-and-margin-loop((@count - 5));
}

.padding-and-margin-loop(40);


.font-size-loop(@count )when(@count > 12) {
  .font-size-@{count} {
    font-size: @count
  }

  .font-size-loop((@count - 1));
}

.font-size-loop(20);



@toastPrefixCls: am-toast;

.@{toastPrefixCls} {
  position: fixed;
  width: 100%;
  z-index: 1999;
  font-size: 14px;
  text-align: center;

  >span {
    max-width: 50%;
  }

  &&-mask {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    transform: translateZ(1px);
  }

  &&-nomask {
    position: fixed;
    max-width: 50%;
    width: auto;
    left: 50%;
    top: 50%;
    transform: translateZ(1px);

    .@{toastPrefixCls}-notice {
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &-notice-content {
    .@{toastPrefixCls}-text {
      min-width: 60px;
      border-radius: 3px;
      color: #fff;
      background-color: rgba(58, 58, 58, 0.9);
      line-height: 1.5;
      padding: 9px 15px;

      &.@{toastPrefixCls}-text-icon {
        border-radius: 5px;
        padding: 15px;

        .@{toastPrefixCls}-text-info {
          margin-top: 6px;
        }
      }
    }
  }
}
