@import "common.variate.less";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  font-size: 12px;
  background-color: #fafafa;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: #333;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}


.padding-and-margin-loop(@count )when(@count > 0) {
  .padding-top-@{count} {
    padding-top: @count
  }

  .padding-left-@{count} {
    padding-left: @count
  }

  .padding-bottom-@{count} {
    padding-bottom: @count
  }

  .padding-right-@{count} {
    padding-right: @count
  }

  .padding-@{count} {
    padding: @count
  }

  .margin-top-@{count} {
    margin-top: @count
  }

  .margin-left-@{count} {
    margin-left: @count
  }

  .margin-bottom-@{count} {
    margin-bottom: @count
  }

  .margin-right-@{count} {
    margin-right: @count
  }

  .margin-@{count} {
    margin: @count
  }

  .padding-and-margin-loop((@count - 5));
}

.padding-and-margin-loop(40);


.font-size-loop(@count )when(@count > 12) {
  .font-size-@{count} {
    font-size: @count
  }

  .font-size-loop((@count - 1));
}

.font-size-loop(20);
