@import '../../style/common.variate.less';

.left-nav {
  width: 100%;
  height: 100%;
  // background-color: #f5f5f7;
  border-right: 1px solid @border-color;
  overflow-y: auto;
  font-size: 14px;
  padding: 0 18px 0 12px;
  background-color: #fff;
  a {
    color: #000;
  }
}

.list {
  padding-top: 12px;
  .list-item {
    margin: 3px 0;
    padding-left: 8px;
    height: 36px;
    line-height: 36px;
    border-radius: 4px;
    &.active {
      font-size: 15px;
      font-weight: 700;
      background-color: #f6f6f7;
    }
    &:hover {
      background-color: #f6f6f7;
    }
  }
}
.sub-wrap {
  .list {
    padding-top: 0;
    .list-item {
      &.active {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
  p {
    margin: 3px 0;
    padding-left: 8px;
    height: 36px;
    line-height: 36px;
    border-radius: 4px;
    color: #aeaeae;
    font-size: 13px;
  }
  :global {
    .iconfont {
      font-size: 14px;
      margin-right: 10px;
    }
  }
}
